<!-- <div class="grid-table">
  <div class="grid-header">
    <div>Tiêu đề 1</div>
    <div>Tiêu đề 2</div>
    <div>Tiêu đề 3</div>
    <div>Tiêu đề 4</div>
    <div>Tiêu đề 5</div>
    <div>Tiêu đề 6</div>
  </div >
  <div class="grid-wrap-row">
    <div class="grid-row">
      <div>Hàng 1, Cột 1</div>
      <div>Hàng 1, Cột 2</div>
      <div>Hàng 1, Cột 3</div>
      <div>Hàng 1, Cột 4</div>
      <div>Hàng 1, Cột 5</div>
      <div>Hàng 1, Cột 6</div>
    </div>
    <div class="grid-row">
      <div>Hàng 2, Cột 1</div>
      <div>Hàng 2, Cột 2</div>
      <div>Hàng 2, Cột 3</div>
      <div>Hàng 2, Cột 4</div>
      <div>Hàng 2, Cột 5</div>
      <div>Hàng 2, Cột 6</div>
    </div>
    <div class="grid-row">
      <div>Hàng 3, Cột 1</div>
      <div>Hàng 3, Cột 2</div>
      <div>Hàng 3, Cột 3</div>
      <div>Hàng 3, Cột 4</div>
      <div>Hàng 3, Cột 5</div>
      <div>Hàng 3, Cột 6</div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>