<div class="home_header">
    <div [routerLink]="['/home']" class="">
        <span class="">Export Data </span> 
    </div>
    <div>
        <button (click)="openModal()" mat-raised-button class="button-find">Add New ATM </button>
    </div>
</div>


<div class="grid-table">
  <div class="grid-header">
    <div>ATM Name</div>
    <div>Manufacturer</div>
    <div>Type</div>
    <div>Serial Number</div>
    <div>Image</div>
    <div>Action</div>
  </div >
  <div class="grid-wrap-row">
    
    <div *ngFor="let item of listData" class="grid-row">
      <div>{{item.name}}</div>
      <div>{{item.manufacturer}}</div>
      <div>{{item.type}}</div>
      <div>{{item.seri}}</div>
      <div><img *ngIf="!item.img" src="{{item.img}}" alt=""></div>
      <div> <button mat-button>[View]</button ><button mat-button>[Edit]</button><button mat-button>[Delete]</button></div>
    </div>

  </div>
</div>
<mat-paginator [length]="apiData.length" [pageSizeOptions]="[10]" aria-label="Select page"  (page)="onPageChange($event)" >
</mat-paginator>
